.advantages {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;

  &::after {
    @include pseudo;
    top: 460px;
    left: 50%;
    width: 250px;
    height: 280px;
    margin-left: 690px;
    background-image: url("../img/small-triangle.svg");
    background-repeat: no-repeat;
    background-size: 260px 260px;
    z-index: -1;
  }
}

.advantages__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &::before {
    @include pseudo;
    bottom: 467px;
    left: 50%;
    width: 250px;
    height: 280px;
    margin-left: -766px;
    background-image: url("../img/small-triangle.svg");
    background-size: 260px 260px;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(180deg);
  }

  &::after {
    @include pseudo;
    bottom: -90px;
    left: 50%;
    width: 558px;
    height: 562px;
    margin-left: -328px;
    background-image: url("../img/polygon.svg");
    background-size: 558px 562px;
    z-index: -1;
  }
}

@media (max-width: $desktop-width) {
  .advantages {
    padding-top: 54px;
    padding-bottom: 19px;

    &::after {
      display: none;
    }
  }

  .advantages__wrapper {
    flex-direction: column;

    &::before {
      bottom: -155px;
      width: 570px;
      height: 570px;
      margin-left: -106px;
      background-size: 570px 570px;
      background-image: url("../img/polygon.svg");
      transform: rotate(0);
    }

    &::after {
      display: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 37px;
    padding-bottom: 30px;
  }

  .advantages__wrapper::before {
    left: -50%;
    margin-left: 126px;
  }
}
