.advantages {
  padding-top: 37px;
  padding-bottom: 30px;
}

.advantages__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    @include pseudo;
    z-index: -1;
    bottom: -313px;
    left: -50%;
    width: 320px;
    height: 873px;
    margin-left: 130px;
    background-size: 320px 873px;
    background-repeat: no-repeat;
  }
}

.no-webp .advantages__wrapper::before,
.no-js .advantages__wrapper::before {
  background-image: url("../img/background-advantages-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-advantages-mobile@2x.png");
  }
}

.webp .advantages__wrapper::before {
  background-image: url("../img/background-advantages-mobile@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-advantages-mobile@2x.webp");
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 54px;
    padding-bottom: 19px;
  }

  .advantages__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      width: 559px;
      margin-left: 593px;
      background-size: 559px 873px;
    }
  }

  .no-webp .advantages__wrapper::before,
  .no-js .advantages__wrapper::before {
    background-image: url("../img/background-advantages-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-advantages-tablet@2x.png");
    }
  }

  .webp .advantages__wrapper::before {
    background-image: url("../img/background-advantages-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-advantages-tablet@2x.webp");
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 113px;
    padding-bottom: 30px;
  }

  .advantages__wrapper {
    justify-content: flex-start;
    background-image: url("../img/polygon-desktop-4.svg");
    background-position: 1651px 347px;
    background-repeat: no-repeat;
    background-size: 260px 260px;


    &::before {
      bottom: 388px;
      left: 50%;
      width: 338px;
      height: 338px;
      margin-left: -776px;
      background-image: url("../img/polygon-desktop-3.svg");
      background-size: 260px 260px;
    }

    &::after {
      @include pseudo;
      z-index: -1;
      bottom: -90px;
      left: 50%;
      width: 558px;
      height: 562px;
      margin-left: -163px;
      background-image: url("../img/polygon-desktop-1.svg");
      background-size: 558px 562px;
    }
  }
}
